<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">    
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: headerAdmin}"></header>
        <div class="bg-success p-2" style="--bs-bg-opacity: .1;">
            <div class="container mt-5">
                <div class="text-center">
                    <p>En Veterinaria xxx, nos dedicamos a cuidar y mejorar la salud y bienestar de sus mascotas, ofreciéndoles servicios médicos de calidad y una amplia gama de productos especializados. Además, hacemos que su experiencia sea aún más cómoda al permitirle agendar citas y realizar consultas a través de WhatsApp.</p>
                    <br>       
                    <h2>Porqué escogernos?</h2><!-- -->
                    <ul><!-- Listas no ordenadas -->
                        <li>Atención personlizada, donde realizamos planes de cuidado adaptados a las necesidades específicas de cada mascota.</li> <!-- list item -->
                        <li>Más de 15 años en el mercado siendo líderes.</li>
                        <li>Comodidad y Accesibilidad donde nuestros servicios de agendamiento y consultas pueden ser por WhatsApp para su conveniencia.</li>
                    </ul>
                    <br>
                </div> 
            </div>
        </div>    
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
