<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Noticias</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: headerAdmin}"/>
<section th:replace="~{noticia/fragmentos :: botonesAgregar}"/>
<section th:replace="~{noticia/fragmentos :: agregarNoticia}"/>


<section id="noticias" class="py-5">
    <div class="container">
        <div class="row">
            <div th:if="${noticias != null and !noticias.empty}">
                <div class="row">
                    <div class="col-md-4" th:each="noticia : ${noticias}">
                        <div class="card mb-4">
                            <img th:src="@{${noticia.imagen}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${noticia.titulo}">Noticia Titulo</h5>
                                <p class="card-text" th:text="${noticia.descripcion}">Descripción de la noticia</p>
                                <a th:href="@{${noticia.url}}" class="btn btn-primary">Leer más</a>
                                <a th:href="@{/noticia/eliminar/}+${noticia.id_noticia}" class="btn btn-danger">Eliminar</a>
                                <a th:href="@{/noticia/modificar/}+${noticia.id_noticia}" class="btn btn-success">Modificar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${noticias == null or noticias.empty}" class="text-center p-2">
                <span>[[#{lista.vacia}]]</span>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
